// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #EBEDF5 !important;
}

.container.header {
  padding: 0 16px;
  background: #304DC5;
}

.container.s-footer {
  background: transparent;
}

.text-white {
  color: #fff;
}

.text-gray,
a.text-gray {
  color: rgba(0, 0, 0, 0.6);

  &:visited {
    color: rgba(0, 0, 0, 0.6);
  }
}

.text-lightgray {
  color: rgba(32, 39, 45, 0.6);
}

.text-red,
a.text-red {
  color: rgba(234, 61, 47, 1);
}

.text-green,
a.text-green {
  color: rgba(55, 178, 77, 1);
}

.text-underlined {
  text-decoration: underline;
}

.fz-20 {
  font-size: 20px;
}

.fz-16 {
  font-size: 16px;
}

.fz-14 {
  font-size: 14px;
}

.fz-12 {
  font-size: 12px;
}

.fw-600 {
  font-weight: 600;
}

.custom-callout {
  //padding: 32px 0 16px;
  padding: 32px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.row-with-spacings {
  width: calc(100% - 32px) !important;
  margin: 0 16px !important;
}

table.outlined table td {
  display: block;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
  border-radius: 4px;

  a {
    color: $primary-color;
  }
}

hr.s-divider {
  border-color: rgba(0, 0, 0, 0.12);
}

.clearfix {
  &::before,
  &::after {
    display: table;
    content: '';
  }

  &::after {
    clear: both;
  }
}

.task-block {

  & > div {
    padding: 6px 8px;
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.12);

    &:last-child {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    img {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__date {
    float: right;
  }

  &__arrow {
    font-size: 16px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.38);
  }
}

.status-text {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
}

.status-previous {
  text-decoration: line-through;
}

.status-in-progress {
  background-color: #F7E9C6;
  color: #C64B10;
}

.status-completed {
  background-color: #DAF2DE;
  color: #19611E;
}
