---
Alex invited you to join Integrated Marketing on TeamHub
---

<container class="header">
  <spacer size="4"></spacer>
  <row>
    <columns small="4" valign="middle">
      <img src="/assets/img/s2s-header-logo.png" alt="" class="float-left">
    </columns>
    <columns small="8" valign="middle">
      <spacer size="18"></spacer>
      <p class="text-white fz-20">Team Hub</p>
    </columns>
  </row>
</container>

<container>

  <spacer size="16"></spacer>
  
  <row>
    <columns small="12">
      <h5>Join #Virtual-Conference-2020 on TeamHub</h5>
      <p>Alex (<a href="mailto:alex@acmecorp.com">alex@acmecorp.com</a>) has invited you to join the TeamHub channel <strong>#Virtual-Conference-2020</strong>. Join now to start collaborating!</p>
    </columns>
  </row>

  <row>
    <columns small="12">
      <div class="custom-callout">
        <spacer size="16"></spacer>

        <center>
          <row style="max-width: 230px;">
            <columns small="4">
              <img style="max-height: 48px;" src="/assets/img/a1-workspace-logo.png" alt="">
            </columns>
            <columns small="8">
              <p style="margin-bottom: 0;">
                <strong>
                  Digital Marketing
                </strong>
              </p>
              <p class="text-gray fz-14">Acme Corp</p>
            </columns>
          </row>
        </center>

        <center>
          <button href="#" class="radius secondary">Join Now</button>
        </center>
      </div>
    </columns>
  </row>

  <row>
    <columns small="12" large="6">
      <h5>What is TeamHub?</h5>
      <p>
        One place for all your team needs. Bring everything together including chats, meetings, calls, files, and tools to enable more productive teamwork.
      </p>
    </columns>
    <columns small="12" large="6">
      <img src="/assets/img/b2-demo-image.png" alt="">
    </columns>
  </row>

</container>

<container class="s-footer">
  <spacer size="24"></spacer>
  <row class="collapse">
    <columns small="12">
      <p class="text-gray fz-12" style="margin-bottom: 0;">
        <a href="" class="text-gray">Terms of Use</a> | <a href="" class="text-gray">Privacy Policy</a> | ©2006-2020 Star2Star Communications, LLC. All Rights Reserved.
      </p>
      <p class="text-gray fz-12">
        Don't like these emails? <a href="http://google.com" class="text-gray text-underlined">Unsubscribe</a>
      </p>

      <spacer size="16"></spacer>

      <a href="https://twitter.com" style="display: inline-block; margin-right: 28px;">
        <img src="/assets/img/footer-twitter-icon.png" alt="">
      </a>
      <a href="https://facebook.com" style="display: inline-block; margin-right: 28px;">
        <img src="/assets/img/footer-facebook-icon.png" alt="">
      </a>
      <a href="https://linkedin.com" style="display: inline-block; margin-right: 28px;">
        <img src="/assets/img/footer-linkedin-icon.png" alt="">
      </a>
    </columns>
  </row>
</container>
