---
subject: Mike just joined your channel!
---

<container class="header">
  <spacer size="4"></spacer>
  <row>
    <columns small="4" valign="middle">
      <img src="/assets/img/s2s-header-logo.png" alt="" class="float-left">
    </columns>
    <columns small="8" valign="middle">
      <spacer size="18"></spacer>
      <p class="text-white fz-20">Team Hub</p>
    </columns>
  </row>
</container>

<container>

  <spacer size="16"></spacer>
  
  <row>
    <columns small="12">
      <h5>Go to Team Hub to say hi to Mike</h5>
      <p>
        Mike (<a href="mailto:(mike@dundermifflin.com">mike@dundermifflin.com</a>) has joined your TeamHub channel <strong>#Acme-contractors</strong> in workspace <strong>Integrated Marketing</strong>. Head over to Team hub to greet them!
      </p>
      <button href="#" class="radius secondary">Open Team Hub</button>
    </columns>
  </row>

  <row>
    <columns small="12">
      <hr class="s-divider">
    </columns>
  </row>

  <row>
    <columns small="2" large="1">
      <img style="max-height: 32px;" src="/assets/img/a1-workspace-logo.png" alt="">
    </columns>
    <columns small="10" large="11">
      <row>
        <columns small="12" large="9">
          <p style="margin-bottom: 0;">
            <storng>
              Integrated Marketing
            </storng>
          </p>
          <p>
            <a href="https://someurl.com">Workspace URL: integrated-marketing.teamhub.com</a>
          </p>
        </columns>
        <columns small="12" large="3">
          <button href="#" class="radius small outlined small-expanded">Sign In</button>
        </columns>
      </row>
    </columns>
  </row>

</container>

<container class="s-footer">
  <spacer size="24"></spacer>
  <row class="collapse">
    <columns small="12">
      <p class="text-gray fz-12" style="margin-bottom: 0;">
        <a href="" class="text-gray">Terms of Use</a> | <a href="" class="text-gray">Privacy Policy</a> | ©2006-2020 Star2Star Communications, LLC. All Rights Reserved.
      </p>
      <p class="text-gray fz-12">
        Don't like these emails? <a href="http://google.com" class="text-gray text-underlined">Unsubscribe</a>
      </p>

      <spacer size="16"></spacer>

      <a href="https://twitter.com" style="display: inline-block; margin-right: 28px;">
        <img src="/assets/img/footer-twitter-icon.png" alt="">
      </a>
      <a href="https://facebook.com" style="display: inline-block; margin-right: 28px;">
        <img src="/assets/img/footer-facebook-icon.png" alt="">
      </a>
      <a href="https://linkedin.com" style="display: inline-block; margin-right: 28px;">
        <img src="/assets/img/footer-linkedin-icon.png" alt="">
      </a>
    </columns>
  </row>
</container>
