---
subject: Reminder - You’re invited to join Integrated Marketing on TeamHub
---

<container class="header">
  <spacer size="4"></spacer>
  <row>
    <columns small="4" valign="middle">
      <img src="/assets/img/s2s-header-logo.png" alt="" class="float-left">
    </columns>
    <columns small="8" valign="middle">
      <spacer size="18"></spacer>
      <p class="text-white fz-20">Team Hub</p>
    </columns>
  </row>
</container>

<container>

  <spacer size="16"></spacer>
  
  <row>
    <columns small="12">
      <h5>Join #industry-nonprofit on TeamHub</h5>
      <p>
        You recently tried to sign in to <strong>Integrated Marketing</strong>, however it seems your account for that workspace is deactivated. Sorry about that!
      </p>
      <p>
        If you think this was a mistake, please contact a Workspace Administrator to reactivate the account.
      </p>
      <p>
        Cheers,<br>
        Team Hub Support
      </p>
    </columns>
  </row>

</container>

<container class="s-footer">
  <spacer size="24"></spacer>
  <row class="collapse">
    <columns small="12">
      <p class="text-gray fz-12" style="margin-bottom: 0;">
        <a href="" class="text-gray">Terms of Use</a> | <a href="" class="text-gray">Privacy Policy</a> | ©2006-2020 Star2Star Communications, LLC. All Rights Reserved.
      </p>
      <p class="text-gray fz-12">
        Don't like these emails? <a href="http://google.com" class="text-gray text-underlined">Unsubscribe</a>
      </p>

      <spacer size="16"></spacer>

      <a href="https://twitter.com" style="display: inline-block; margin-right: 28px;">
        <img src="/assets/img/footer-twitter-icon.png" alt="">
      </a>
      <a href="https://facebook.com" style="display: inline-block; margin-right: 28px;">
        <img src="/assets/img/footer-facebook-icon.png" alt="">
      </a>
      <a href="https://linkedin.com" style="display: inline-block; margin-right: 28px;">
        <img src="/assets/img/footer-linkedin-icon.png" alt="">
      </a>
    </columns>
  </row>
</container>
