---
subject: TeamHub - New messages from 3 conversations in Integrated Marketing
---

<container class="header">
  <spacer size="4"></spacer>
  <row>
    <columns small="4" valign="middle">
      <img src="/assets/img/s2s-header-logo.png" alt="" class="float-left">
    </columns>
    <columns small="8" valign="middle">
      <spacer size="18"></spacer>
      <p class="text-white fz-20">Team Hub</p>
    </columns>
  </row>
</container>

<container>

  <spacer size="16"></spacer>
  
  <row>
    <columns small="12">
      <h5>Remote workforce solutions now & for the future</h5>
      <p>
        Channels bring everyone together, while direct messages give you the space you need for one-on-one conversations — both move work forward.<br>
        Dive into TeamHub 101 and learn:<br>
        •  The different ways to communicate with your team<br>
        •  The ins and outs of navigating TeamHub
      </p>
      <button href="#" class="radius secondary">Learn more</button>
    </columns>
  </row>

  <row>
    <columns small="12">
      <hr class="s-divider">
    </columns>
  </row>

  <row>
    <columns small="12">
      <h5>Tip: Digital Fax</h5>
      <center>
        <img style="max-width: 300px;" src="/assets/img/c1-tip-image.png" alt="">
      </center>
      <spacer size="20"></spacer>
      <p>
        Empower your remote workforce with analog, digital, and mobile faxing solutions. Digital Fax adds reliable, cloud-based faxing to your communications systemMobile Fax allows Digital Fax users to send and receive faxes on their mobile device.
      </p>
      <button href="#" class="radius secondary">Learn more</button>

      <spacer size="16"></spacer>
      <p class="text-gray fz-12">
        Snooze these notifications for: <a href="https://google.com">an hour</a>, <a href="https://google.com">eight hours</a>, <a href="https://google.com">a day</a>, <a href="https://google.com">three days</a>, or <a href="https://google.com">the next week</a>. Or, <a href="https://google.com">turn email notifications off</a>. For more detailed preferences, see your
        <a href="https://google.com">account page</a>.
      </p>

    </columns>
  </row>

  <row>
    <columns small="12">
      <hr class="s-divider">
    </columns>
  </row>

  <row>
    <columns small="2" large="1">
      <img style="max-height: 32px;" src="/assets/img/a1-workspace-logo.png" alt="">
    </columns>
    <columns small="10" large="11">
      <row>
        <columns small="12" large="9">
          <p style="margin-bottom: 0;">
            <storng>
              Integrated Marketing
            </storng>
          </p>
          <p>
            <a href="https://someurl.com">Workspace URL: integrated-marketing.teamhub.com</a>
          </p>
        </columns>
        <columns small="12" large="3">
          <button href="#" class="radius small outlined small-expanded">Sign In</button>
        </columns>
      </row>
    </columns>
  </row>

</container>

<container class="s-footer">
  <spacer size="24"></spacer>
  <row class="collapse">
    <columns small="12">
      <p class="text-gray fz-12" style="margin-bottom: 0;">
        <a href="" class="text-gray">Terms of Use</a> | <a href="" class="text-gray">Privacy Policy</a> | ©2006-2020 Star2Star Communications, LLC. All Rights Reserved.
      </p>
      <p class="text-gray fz-12">
        Don't like these emails? <a href="http://google.com" class="text-gray text-underlined">Unsubscribe</a>
      </p>

      <spacer size="16"></spacer>

      <a href="https://twitter.com" style="display: inline-block; margin-right: 28px;">
        <img src="/assets/img/footer-twitter-icon.png" alt="">
      </a>
      <a href="https://facebook.com" style="display: inline-block; margin-right: 28px;">
        <img src="/assets/img/footer-facebook-icon.png" alt="">
      </a>
      <a href="https://linkedin.com" style="display: inline-block; margin-right: 28px;">
        <img src="/assets/img/footer-linkedin-icon.png" alt="">
      </a>
    </columns>
  </row>
</container>
