---
subject: TeamHub - New messages from 3 conversations in Integrated Marketing
---

<container class="header">
  <spacer size="4"></spacer>
  <row>
    <columns small="4" valign="middle">
      <img src="/assets/img/s2s-header-logo.png" alt="" class="float-left">
    </columns>
    <columns small="8" valign="middle">
      <spacer size="18"></spacer>
      <p class="text-white fz-20">Team Hub</p>
    </columns>
  </row>
</container>

<container>

  <spacer size="16"></spacer>
  
  <row>
    <columns small="12">
      <h5>You have 6 new mentions and 2 new direct messages in Integrated Marketing</h5>
    </columns>
  </row>

  <row>
    <columns small="12">
      <p class="text-gray fw-600"># operations-team</p>
      <div class="custom-callout">
        <center>
          <row class="row-with-spacings">
            <columns small="3" large="1">
              <img style="max-height: 40px;" src="/assets/img/d-user-avatar.png" alt="">
            </columns>
            <columns small="9" large="11">
              <div>
                <strong>Theresa Lang</strong>
                <span class="text-lightgray fz-12">5:20PM</span>
              </div>
              <p>
                Thanks <a href="">@Michael!</a> Just a couple of things we're still tweaking but it's coming together. Keep you posted.🙂
              </p>
            </columns>
          </row>

          <row class="row-with-spacings">
            <columns small="3" large="1">
              <img style="max-height: 40px;" src="/assets/img/d-user-avatar.png" alt="">
            </columns>
            <columns small="9" large="11">
              <div>
                <strong>Andy Lillard</strong>
                <span class="text-lightgray fz-12">5:20PM</span>
              </div>
              <p>
                <a href="">@Michael</a> Could be great to get notifications about resolved comments. :pray:  What do you think?
              </p>
            </columns>
          </row>

          <row class="row-with-spacings">
            <columns small="3" large="1">
              <img style="max-height: 40px;" src="/assets/img/d-user-avatar.png" alt="">
            </columns>
            <columns small="9" large="11">
              <div>
                <strong>Andy Lillard</strong>
                <span class="text-lightgray fz-12">5:20PM</span>
              </div>
              <p>
                <a href="">@Michael</a> Could be great to get notifications about resolved comments. :pray:  What do you think?
              </p>
            </columns>
          </row>

          <row class="row-with-spacings">
            <columns small="3" large="1">
              <img style="max-height: 40px;" src="/assets/img/d-user-avatar.png" alt="">
            </columns>
            <columns small="9" large="11">
              <div>
                <strong>Cody Russell</strong>
                <span class="text-lightgray fz-12">5:20PM</span>
              </div>
              <p style="margin-bottom: 0;" class="fz-12 text-gray">
                <img src="/assets/img/icon-reply.png" alt="" style="display:inline-block;">
                Replied to a <span class="fw-600">thread</span>: <a href="" class="fw-600">I'm Jillian Hudson, a Principal UX Researcher...</a>
              </p>
              <p>
                <a href="">@Michael</a> Should we schedule a meeting to review these? <br>
                <a href="" class="fz-12 fw-600">Show newer replies</a>
              </p>
            </columns>
          </row>
        </center>
      </div>
      <spacer size="16"></spacer>
      <button href="#" class="radius secondary">Open in Team Hub</button>
    </columns>
  </row>

  <row>
    <columns small="12">
      <p class="text-gray fw-600">
        <img src="/assets/img/icon-lock.png" alt="" style="display:inline-block;">
        acme-contractors
      </p>
      <div class="custom-callout">
        <center>
          <row class="row-with-spacings">
            <columns small="3" large="1">
              <img style="max-height: 40px;" src="/assets/img/d-user-avatar.png" alt="">
            </columns>
            <columns small="9" large="11">
              <div>
                <strong>Cody Russell</strong>
                <span class="text-lightgray fz-12">6:05PM</span>
              </div>
              <p>
                <a href="">@Michael</a> Hey guys, here’s an earlier draft.<br>
                <a href="" class="fw-600">Screenshot from 2019-06-03 13-40-41.png</a>
              </p>
            </columns>
          </row>

          <row class="row-with-spacings">
            <columns small="3" large="1">
              <img style="max-height: 40px;" src="/assets/img/d-user-avatar.png" alt="">
            </columns>
            <columns small="9" large="11">
              <div>
                <strong>James Mulholland</strong>
                <span class="text-lightgray fz-12">5:20PM</span>
              </div>
              <p>
                <a href="">@Michael</a> <a href="">@JoBennet</a> Got a minute to dicuss this?
              </p>
            </columns>
          </row>
        </center>
      </div>
      <spacer size="16"></spacer>
      <button href="#" class="radius secondary">Open in Team Hub</button>
    </columns>
  </row>

  <row>
    <columns small="12">
      <p class="text-gray fw-600">
        Direct Messages with Theresa Lang
      </p>
      <div class="custom-callout">
        <center>
          <row class="row-with-spacings">
            <columns small="3" large="1">
              <img style="max-height: 40px;" src="/assets/img/d-user-avatar.png" alt="">
            </columns>
            <columns small="9" large="11">
              <div>
                <strong>Theresa Lang</strong>
                <span class="text-lightgray fz-12">6:05PM</span>
              </div>
              <p>
                That sounds great! Thanks again for hoping on this so easily and fast!🙂
              </p>
            </columns>
          </row>
        </center>
      </div>
      <spacer size="16"></spacer>
      <button href="#" class="radius secondary">Open in Team Hub</button>
    </columns>
  </row>

  <row>
    <columns small="12">
      <p class="text-gray fw-600">
        Direct Messages with Andy Lillard
      </p>
      <div class="custom-callout">
        <center>
          <row class="row-with-spacings">
            <columns small="3" large="1">
              <img style="max-height: 40px;" src="/assets/img/d-user-avatar.png" alt="">
            </columns>
            <columns small="9" large="11">
              <div>
                <strong>Andy Lillard</strong>
                <span class="text-lightgray fz-12">6:05PM</span>
              </div>
              <p>
                <a href="">@Michael</a> Could be great to get notifications about resolved comments. :pray:
              </p>
            </columns>
          </row>

          <row class="row-with-spacings">
            <columns small="3" large="1">
              <img style="max-height: 40px;" src="/assets/img/d-user-avatar.png" alt="">
            </columns>
            <columns small="9" large="11">
              <div>
                <strong>Andy Lillard</strong>
                <span class="text-lightgray fz-12">6:05PM</span>
              </div>
              <p>
                What do you think?
              </p>
            </columns>
          </row>
        </center>
      </div>
      <spacer size="16"></spacer>
      <button href="#" class="radius secondary">Open in Team Hub</button>
    </columns>
  </row>

  <row>
    <columns small="12">
      <p>
        Also, since 7:11pm on Spe 9th, when you were last in Integrated Marketing workspace, there have been <strong>one task assigned to you</strong> and <strong>three comments on notes</strong>. You can find the details of this activity on your team’s Activity Stream.
      </p>

      <spacer size="16"></spacer>

      <p class="text-gray fz-12">
        Snooze these notifications for: <a href="https://google.com">an hour</a>, <a href="https://google.com">eight hours</a>, <a href="https://google.com">a day</a>, <a href="https://google.com">three days</a>, or <a href="https://google.com">the next week</a>. Or, <a href="https://google.com">turn email notifications off</a>. For more detailed preferences, see your
        <a href="https://google.com">account page</a>.
      </p>

    </columns>
  </row>

  <row>
    <columns small="12">
      <hr class="s-divider">
    </columns>
  </row>

  <row>
    <columns small="2" large="1">
      <img style="max-height: 32px;" src="/assets/img/a1-workspace-logo.png" alt="">
    </columns>
    <columns small="10" large="11">
      <row>
        <columns small="12" large="9">
          <p style="margin-bottom: 0;">
            <storng>
              Integrated Marketing
            </storng>
          </p>
          <p>
            <a href="https://someurl.com">Workspace URL: integrated-marketing.teamhub.com</a>
          </p>
        </columns>
        <columns small="12" large="3">
          <button href="#" class="radius small outlined small-expanded">Sign In</button>
        </columns>
      </row>
    </columns>
  </row>

</container>

<container class="s-footer">
  <spacer size="24"></spacer>
  <row class="collapse">
    <columns small="12">
      <p class="text-gray fz-12" style="margin-bottom: 0;">
        <a href="" class="text-gray">Terms of Use</a> | <a href="" class="text-gray">Privacy Policy</a> | ©2006-2020 Star2Star Communications, LLC. All Rights Reserved.
      </p>
      <p class="text-gray fz-12">
        Don't like these emails? <a href="http://google.com" class="text-gray text-underlined">Unsubscribe</a>
      </p>

      <spacer size="16"></spacer>

      <a href="https://twitter.com" style="display: inline-block; margin-right: 28px;">
        <img src="/assets/img/footer-twitter-icon.png" alt="">
      </a>
      <a href="https://facebook.com" style="display: inline-block; margin-right: 28px;">
        <img src="/assets/img/footer-facebook-icon.png" alt="">
      </a>
      <a href="https://linkedin.com" style="display: inline-block; margin-right: 28px;">
        <img src="/assets/img/footer-linkedin-icon.png" alt="">
      </a>
    </columns>
  </row>
</container>
