---
subject: New highlights in your 2 workspaces
---

<container class="header">
  <spacer size="4"></spacer>
  <row>
    <columns small="4" valign="middle">
      <img src="/assets/img/s2s-header-logo.png" alt="" class="float-left">
    </columns>
    <columns small="8" valign="middle">
      <spacer size="18"></spacer>
      <p class="text-white fz-20">Team Hub</p>
    </columns>
  </row>
</container>

<container>

  <spacer size="16"></spacer>
  
  <row>
    <columns small="12">
      <h5>Your team is working in TeamHub. Here’s what happened recently.</h5>
    </columns>
  </row>

  <row>
    <columns small="2" large="1">
      <img style="max-height: 32px;" src="/assets/img/a1-workspace-logo.png" alt="">
    </columns>
    <columns small="10" large="11">
      <a href="" class="fw-600">Integrated Marketing Workspace</a>
    </columns>
  </row>

  <spacer size="16"></spacer>

  <row>
    <columns small="12">
      <p class="text-gray fw-600">
        <img src="/assets/img/icon-task.png" alt="" style="display:inline-block; vertical-align:middle;">
        Tasks
      </p>
      <spacer size="8"></spacer>

      <p class="fw-600 fz-14">Due soon</p>

      <div class="task-block fz-12">
        <div class="clearfix">
          <img src="/assets/img/icon-check.png" alt="">
          <span class="fw-600">[PM]Write up and share ERL post</span>
          <div class="task-block__date">
            <a href="" class="text-red">Today</a>
            <span class="task-block__arrow">&#8250;</span>
          </div>
        </div>
        <div class="clearfix">
          <img src="/assets/img/icon-check.png" alt="">
          <span class="fw-600">Ask UO to update guide for summary em...</span>
          <div class="task-block__date">
            <a href="" class="text-green">Tomorrow</a>
            <span class="task-block__arrow">&#8250;</span>
          </div>
        </div>
      </div>
    </columns>
  </row>

  <spacer size="16"></spacer>

  <row>
    <columns small="12">
      <p class="fw-600 fz-14">Recently assigned to you</p>

      <div class="task-block fz-12">
        <div class="clearfix">
          <img src="/assets/img/icon-check.png" alt="">
          <span class="fw-600">high level 3 points for SLK feedback</span>
          <div class="task-block__date">
            <a href="" class="text-gray">Apr 14</a>
            <span class="task-block__arrow">&#8250;</span>
          </div>
        </div>
        <div class="clearfix">
          <img src="/assets/img/icon-check.png" alt="">
          <span class="fw-600">Doc - Create a RMV meeting doc and share it before your firs...</span>
          <div class="task-block__date">
            <a href="" class="text-gray">Apr 14</a>
            <span class="task-block__arrow">&#8250;</span>
          </div>
        </div>
        <div class="clearfix">
          <img src="/assets/img/icon-check.png" alt="">
          <span class="fw-600">Share - Summarize and publish your RMV meeting doc</span>
          <div class="task-block__date">
            <a href="" class="text-gray">Apr 14</a>
            <span class="task-block__arrow">&#8250;</span>
          </div>
        </div>
      </div>
    </columns>
  </row>

  <row>
    <columns small="12">
      <hr class="s-divider">
    </columns>
  </row>

  <row>
    <columns small="2" large="1">
      <img style="max-height: 32px;" src="/assets/img/a1-workspace-logo.png" alt="">
    </columns>
    <columns small="10" large="11">
      <a href="" class="fw-600">Acme 1 Workspace</a>
    </columns>
  </row>

  <spacer size="16"></spacer>

  <row>
    <columns small="12">
      <p class="text-gray fw-600">
        <img src="/assets/img/icon-task.png" alt="" style="display:inline-block; vertical-align:middle;">
        Tasks
      </p>
      <spacer size="8"></spacer>

      <p class="fw-600 fz-14">Due soon</p>

      <div class="task-block fz-12">
        <div class="clearfix">
          <img src="/assets/img/icon-check.png" alt="">
          <span class="fw-600">Write up new goals</span>
          <div class="task-block__date">
            <a href="" class="text-green">Tomorrow</a>
            <span class="task-block__arrow">&#8250;</span>
          </div>
        </div>
        <div class="clearfix">
          <img src="/assets/img/icon-check.png" alt="">
          <span class="fw-600">Ask UO to update guide for summary em...</span>
          <div class="task-block__date">
            <a href="" class="text-green">Tomorrow</a>
            <span class="task-block__arrow">&#8250;</span>
          </div>
        </div>
      </div>
    </columns>
  </row>

  <spacer size="16"></spacer>

  <row>
    <columns small="12">
      <p class="fw-600 fz-14">Tasks you’ve assigned to others</p>

      <div class="task-block fz-12">
        <div class="clearfix">
          <img src="/assets/img/icon-check.png" alt="">
          <span>
            Andy Bernard updated <span class="fw-600">Share - summarize...</span>
            <span class="status-text status-in-progress status-previous">in-progress</span>
            <span class="status-text status-completed">completed</span>
          </span>
          <div class="task-block__date">
            <a href="" class="text-gray">at Apr 8 13:29</a>
            <span class="task-block__arrow">&#8250;</span>
          </div>
        </div>
        <div class="clearfix">
          <img src="/assets/img/icon-check.png" alt="">
          <span>
            Elliot Woodward updated <span class="fw-600">high level 3 po...</span>
            <span class="status-text status-in-progress status-previous">in-progress</span>
            <span class="status-text status-completed">completed</span>
          </span>
          <div class="task-block__date">
            <a href="" class="text-gray">at Apr 10 10:02</a>
            <span class="task-block__arrow">&#8250;</span>
          </div>
        </div>
        <div class="clearfix">
          <img src="/assets/img/icon-comment.png" alt="">
          <span>
            Eric Lin <a href="">commented</a> on <span class="fw-600">Doc - Create a RMV meeting report</span>
          </span>
          <div class="task-block__date">
            <a href="" class="text-gray">at Apr 10 10:02</a>
            <span class="task-block__arrow">&#8250;</span>
          </div>
        </div>
        <div class="clearfix">
          <img src="/assets/img/icon-comment.png" alt="">
          <span>
            Eric Lin <a href="">commented</a> on <span class="fw-600">Doc - Create a RMV meeting report</span>
          </span>
          <div class="task-block__date">
            <a href="" class="text-gray">at Apr 10 10:02</a>
            <span class="task-block__arrow">&#8250;</span>
          </div>
        </div>
      </div>
    </columns>
  </row>

  <spacer size="24"></spacer>

  <row>
    <columns small="12">
      <p class="text-gray fw-600">
        <img src="/assets/img/icon-note.png" alt="" style="display:inline-block; vertical-align:middle;">
        Notes
      </p>
      <spacer size="8"></spacer>

      <p class="fw-600 fz-14">Recent activity</p>

      <div class="task-block fz-12">
        <div class="clearfix">
          <img src="/assets/img/icon-comment.png" alt="">
          <span>
            Andy Bernard <a href="">commented</a> on <span class="fw-600">Board Meeting Prep</span>
          </span>
          <div class="task-block__date">
            <a href="" class="text-gray">at Apr 10 10:02</a>
            <span class="task-block__arrow">&#8250;</span>
          </div>
        </div>
        <div class="clearfix">
          <img src="/assets/img/icon-comment.png" alt="">
          <span>
            Andy Bernard <a href="">commented</a> on <span class="fw-600">Meeting Notes - NY Team catchup</span>
          </span>
          <div class="task-block__date">
            <a href="" class="text-gray">at Apr 10 10:02</a>
            <span class="task-block__arrow">&#8250;</span>
          </div>
        </div>
      </div>
    </columns>
  </row>

  <spacer size="24"></spacer>

  <row>
    <columns small="12">
      <p class="text-gray fz-12">
        Snooze these notifications for: <a href="https://google.com">an hour</a>, <a href="https://google.com">eight hours</a>, <a href="https://google.com">a day</a>, <a href="https://google.com">three days</a>, or <a href="https://google.com">the next week</a>. Or, <a href="https://google.com">turn email notifications off</a>. For more detailed preferences, see your
        <a href="https://google.com">account page</a>.
      </p>
    </columns>
  </row>

  <row>
    <columns small="12">
      <hr class="s-divider">
    </columns>
  </row>

  <row>
    <columns small="2" large="1">
      <img style="max-height: 32px;" src="/assets/img/a1-workspace-logo.png" alt="">
    </columns>
    <columns small="10" large="11">
      <row>
        <columns small="12" large="9">
          <p style="margin-bottom: 0;">
            <storng>
              Integrated Marketing
            </storng>
          </p>
          <p>
            <a href="https://someurl.com">Workspace URL: integrated-marketing.teamhub.com</a>
          </p>
        </columns>
        <columns small="12" large="3">
          <button href="#" class="radius small outlined small-expanded">Sign In</button>
        </columns>
      </row>
    </columns>
  </row>

</container>

<container class="s-footer">
  <spacer size="24"></spacer>
  <row class="collapse">
    <columns small="12">
      <p class="text-gray fz-12" style="margin-bottom: 0;">
        <a href="" class="text-gray">Terms of Use</a> | <a href="" class="text-gray">Privacy Policy</a> | ©2006-2020 Star2Star Communications, LLC. All Rights Reserved.
      </p>
      <p class="text-gray fz-12">
        Don't like these emails? <a href="http://google.com" class="text-gray text-underlined">Unsubscribe</a>
      </p>

      <spacer size="16"></spacer>

      <a href="https://twitter.com" style="display: inline-block; margin-right: 28px;">
        <img src="/assets/img/footer-twitter-icon.png" alt="">
      </a>
      <a href="https://facebook.com" style="display: inline-block; margin-right: 28px;">
        <img src="/assets/img/footer-facebook-icon.png" alt="">
      </a>
      <a href="https://linkedin.com" style="display: inline-block; margin-right: 28px;">
        <img src="/assets/img/footer-linkedin-icon.png" alt="">
      </a>
    </columns>
  </row>
</container>
