---
layout: index-layout
subject: My Email Templates
---

<spacer size="16"></spacer>

<container>

  <spacer size="24"></spacer>
  
  <row>
    <columns small="12">

    <spacer size="16"></spacer>

    <center>
      <menu class="vertical">
        <item href="{{root}}a1-invitation-to-join-workspace.html" target="_blank">A1. Invitation to join a workspace</item>
        <item href="{{root}}a2-invitation-to-join-channel.html" target="_blank">A2. Invitation to join a channel</item>
        <item href="{{root}}a3-guest-accepted-invitation-to-join-workspace.html" target="_blank">A3. Guest accepted invitation to join a workspace</item>
        <item href="{{root}}a4-guest-accepted-invitation-to-join-channel.html" target="_blank">A4. Guest accepted invitation to join a channel</item>
        <item href="{{root}}a5-reminder-to-join-workspace.html" target="_blank">A5. Reminder to join a workspace</item>
        <item href="{{root}}b2-sign-in-failure.html" target="_blank">B2. Sign in failure (if I have been removed from accessing a workspace etc.)</item>
        <item href="{{root}}b3-email-verification.html" target="_blank">B3. Email verification (part of the create account flow)</item>
        <item href="{{root}}c1-tips-and-tricks.html" target="_blank">C1. Tips and tricks</item>
        <item href="{{root}}d-notifications.html" target="_blank">D. Chat, @mention, replies, DM notifications Per Workspace</item>
        <item href="{{root}}e-activity-digest.html" target="_blank">E. App activity digest across Multiple workspaces</item>
        <item href="{{root}}e-activity-digest-single.html" target="_blank">Desktop (Single-workspace scenario)</item>
      </menu>
    </center>

    <spacer size="16"></spacer>

    </columns>
  </row>
</container>

<spacer size="16"></spacer>
